.admin-grid-container {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.admin-grid-container .btn {
    width: 200px;
    height: 50px !important;
}
.btn {
    width: max-content !important;
}
.admin_pages {
    display: grid;
    grid-template-rows: 50px 4fr;
    overflow-y: auto;
}

.course-form-container {
    width: 100% !important;
    display: grid !important;
    grid-template-columns: 200px 1fr !important;
}

.instructor-form {
    display: grid !important;
    grid-template-columns: 1fr;
}

@media screen and (max-width: 770px) {
    .tables table {
        display: grid;
        grid-template-areas: "thead tbody";
        height: 400px;
    }

    .tables thead {
        grid-area: thead;
        position: sticky;
        top: 0;
    }

    .tables thead tr {
        display: flex;
        flex-direction: column;
    }

    .tables tbody {
        grid: tbody;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }

    .tables tbody tr {
        display: flex;
        flex-direction: column;
        scroll-snap-align: start;
    }
}
